*{
    margin: 0px;
    padding: 0px;
    font-family: 'karla';
}
body{
    background: #E3EEF8;  
    
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.logo{
    max-width: 124px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -1px;
}
.logo a::before{
    content: url(./images/layers-3.png);
    margin-right: 10px;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav nav{
    max-width: 336px;
    margin: auto 463px auto 60px;
}
ul{
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.4px;
    color: #1F1F1F;
    gap: 30px;
}
a{
    text-decoration: none;
    color: #1F1F1F;
}
.header__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 40px;
    border-radius: 3px;
    border: 2px solid #258AFF;
    background-color: transparent;
}
.header__btn a{
    color: #258AFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -1px;
}
.hero .container{
    display: block;
    color: #666666;
}
.hero__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    font-weight: 700;
    font-size: 70px;
    width: 615px;
    letter-spacing: -4px;
    color: #1F1F1F;
    text-align: center;
}
h1 span{
    display: block;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    padding-top: 168px;
    padding-bottom: 27px;
    color: #666666;
}
.hero__p{
    font-size: 21px;
    width: 555px;
    padding: 30px;
    letter-spacing: -0,4px;
    color: #666666;
}
form input{
    height: 60px;
    font-size: 18px;
    border-style: none;
    margin-right: 10px;
    margin-bottom: 20px;
}
.hero__button{
    background-color: #FC593B;
    width: 210px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.9px;
    color: #FFFFFF;
}
input:hover{
    transform: scale(1.01);
}
input{
    width: 275px;
    border-radius: 3px;  
    padding-left: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.9px;
    color: #878B90;
}
.hero__top p{
    text-align: center;
    color: #878B90;
}
.Features{
    display: flex;
    justify-content: space-between;
    margin: 170px auto 160px 64px;
    
}
.Features p{
    width: 278px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 80px;
}
.Features h2{
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -1px;
    color: #000000;
}
.Features__left h2::before{
    content: url(./images/ICON.png);
    margin: auto 24px auto -64px;
}
.Features__center h2::before{
    content: url(./images/Object\ \(1\).png);
    margin: auto 24px auto -64px;
}
.Features__right h2::before{
    content: url(./images/Object\ \(2\).png);
    margin: auto 24px auto -64px;
}
.content1{
    background-color: #258AFF;
    color: #FFFFFF;
}
.content1 .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}
.content1__img{
    background-image: url(./images/app-shot.png);
    width: 496px;
    height: 741px;
    margin: 130px auto;
    transform: rotate(9deg);
}
.content1__img ::before{
    content: "";
    background: #FFFFFF;
    width: 100%;
    height: 100%; 
    border-radius: 30px;
    transform: rotate(-9deg);
}
.content1 span{
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.content1__title{
    width: 490px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.52632px;
    margin-top: 40px;
}
.content1 p{
    width: 490px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #E4E4E4;
    margin-top: 20px;
    margin-bottom: 55px;
}
.content1__btn{
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    color: #258AFF;
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
}
.content2 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #FFFFFF;
}
.content2__bottom{
    display: flex;
}
.content2__img{
    display: flex;
    justify-content: center;
    width: 636px;
    height: 636px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.content2 img{
    max-width: 320px;
    align-self: center;
}
.content2 span{
    display: block;
    margin-bottom: 50px;
    font-size: 15px;
    margin-bottom: 50px;
    color: #258AFF;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.content2__title{
    width: 490px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -2.52632px;
    color: #1F1F1F;
}
.content2__content p{
    width: 490px;
    font-size: 18px;
    margin-top: 10px;
    color: #666666;
    margin-bottom: 13px;
}
.content2__bottom p{
    width: 240px;
    font-size: 17px;
    font-weight: 400px;
}
.content2__bottom h3::before{
    display: flex;
    width: 60px;
    height: 60px;
    background-color:#258AFF;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 100px auto 35px 0px;
}
.content2__bottom__left h3::before{  
    content: url(./images/pencil@2x.png);
}
.content2__bottom__right h3::before{
    content: url(./images/window-paragraph.png);
}
.testimonial .container{
    display: flex;
    align-items: center;
    margin: 150px auto 130px auto;
    gap: 30px;
}

.testimonial .container .testimonial__left{
    background:#E3EEF8;
}
/*
.testimonial__card1{
    grid-area: card1;
}
.testimonial__card2{
    grid-area: card2;
    margin-top: -20px;
}
.testimonial__card3{
    grid-area: card3;
}
.testimonisl__card4{
    grid-area: card4;
    margin-top: -20px;
}*/
.testimonial__left h2{
    width: 349px;
    font-weight: 700;
    font-size: 48px;
    font-size: 48px;
    line-height: 56px;
}
.testimonial h2 span{
    display: block;
    font-weight: 700;
    font-size: 17px;
    color: #258AFF;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2.8125px;
}
.testimonial h3 span{
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: #666666;
}
.testimonial p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding: 30px;
}
.testimonial__left p{
    padding: 0px;
    width: 315px;
    margin-top: 10px;
}
.testimonial__card{
    max-width: 350px;
    background: #FFFFFF;
    border-radius: 5px;
}
.card__bottom img{
    width: 43px;
    height: 43px;
    float: left;
    margin-left: 37px;
    margin-right: 22px;
}
.testimonial__right{
    margin-top: -25px;

}
.card__bottom{
    margin-bottom: 30px;
    padding-bottom: 35px;
}
.card__bottom p{
    font-weight: 400;
    font-size: 15px;
    padding: 0px;
}
.client .container{
    display: flex;
    justify-content: space-between;
    mix-blend-mode: luminosity;
    opacity: 0.5;
    margin-bottom: 130px;
}
.price{
    display: flex;
    background-image: url(./images/Rectangle.png);
    text-align: center;
    color: #FFFFFF;
}
.price__title span{
    display: block;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2.8125px;
    text-transform: uppercase;
    
    margin-bottom: 43px;
}
.price__title{
    max-width: 611px;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -2.52632px;
    color: #FFFFFF;
    margin-top: 138px;
    margin-bottom: 100px;
}
.price__content{
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    text-align: left;
    padding: 45px;
    border-radius: 5px;
    margin-bottom: 180px;
    
}
.card--light .card__header{
    display: flex;
    justify-content: space-between;
}
.card--light .card__header button{
    width: 83px;
    height: 26px;
    background: #4EAB08;
    border-radius: 13px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.514286px;
    text-transform: uppercase;
    margin-top: 0px;
}
.card--dark .card__price{
    margin-top: 30px;
}
.card__price{
    display: flex;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 20px;
    
}
.dollar-sign{
    font-size: 30px;
    margin-top: 7px;
    margin-right: 5px;

}
.per-month{
    font-size: 17px;
    align-self: end;
    margin-bottom: 10px;
}
.card ul{
    display: block;
    font-size: 17px;
    font-weight: 400;
}
.card--dark ul{
    color: #FFFFFF;
}
.card li{
    margin: 15px auto;
}
s{
    color: #878B90;
}
.card button{
    width: 190px;
    height: 50px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px; 
    line-height: 21px;
    letter-spacing: -1.06px;
    margin: 40px auto 5px;
    border-style: none;
}
.card--dark button{
    background: #258AFF;
}
.card--light button{
    background: #FC593B;
}
.card--light li::before{
    content: url(./images/before.png);
    margin-right: 10px;
    gap: 7px;
}
.card--dark li::before{
    content: url(./images/Path.png);
    margin-right: 10px;
}
.card p{
    max-width: 230px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.4px;
    margin: 5px auto 25px;
    color: #666666;
}
.card .card__par-1{
    color: #E5E5E5;
}
.card .card__par-2{
    color: #878B90;
}
.card--dark{
    background-color: #2B405A;
    color: #FFFFFF;
}
.card--light{
    background-color: #FFFFFF;
    color: black;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}
.footer ul{
    margin-left: 85px;
    display: inline-block;
    
}
.footer p{
    max-width: 318px;
    margin: 30px auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: #666666;
}
.footer .title{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.4px;
    color: #666666;
    margin-bottom: 55px;
}
.footer a{
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: -0.4px;
    color: #1F1F1F;
}
.social{
    margin-top: 40px;
}
.social a{
    margin-right: 20px;
}

.footer .container{
    margin: 160px auto 130px;
}



